.about-container {
    height: 100%;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 7%;

    .title {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 8%;
        padding-top: 5%;
        color: whitesmoke;
        text-shadow: 4px 4px rgb(255, 144, 92);
        font-size: 10rem;
        font-weight: 900;

        @media (max-width: 500px) {
            font-size: 3rem;
        }
    }

    .information {
        padding-left: 18%;
        padding-right: 18%;
        color: whitesmoke;

        h5 {
            font-size: 2rem;

            @media (max-width: 800px) {
                font-size: 1.5rem;
            }
        }
    }

    .band {
        color: rgb(255, 144, 92);
        text-shadow: 1px 1px whitesmoke;
        font-weight: 900;
        font-size: 3.25rem;
    }

    .point {
        .downpoint {
            width: 25px;
        }
    }
}