.about-container {
    height: 100%;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 7%;

    .title {
        font-size: 5rem;
        font-weight: 800;
        padding: 2%;

        @media (max-width: 500px) {
            font-size: 3rem;
        }
    }

    .information {
        padding-left: 18%;
        padding-right: 18%;

        h5 {
            font-size: 2rem;

            @media (max-width: 800px) {
                font-size: 1.5rem;
            }
        }
    }

    .band {
        text-decoration: none;
        font-size: 1.75rem;
    }

    .point {
        .downpoint {
            width: 25px;
        }
    }
}