.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    background-color: transparent;

    .website {
        color: white;
        text-shadow: 1px 1px black;

        @media (max-width: 500px) {
          font-size: 12px;
          padding: 5px;
        }
    }

    .footer-link {
        margin: 10px;
        color: #ff5a07 ;
    }
}