.nav-container {
    background-color: transparent;
    
    .icon {
        width: 150px;
        margin-left: -1.5%;
      
        @media (max-width: 500px) {
          margin-left: -7%;
          width: 110px;
        }
    }

    .nav-link {
      font-size: 2rem;
      font-weight: 800;

      @media (max-width: 800px) {
        font-size: 1.5rem;
      }
    }

    .nav-link:hover {
      background-color: #ff5a07;
      text-decoration: line-through;
      text-decoration-color: #f9a174;
      text-decoration-thickness: 5px;
    }

    .dark-mode__toggle {
      background: white;
      border-radius: 50px;
      border: 1px solid black;
      height: 20px;
      position: relative;
      width: 40px;
      margin-top: 22px;
      margin: auto;

      @media(max-width: 991px) {
        margin-top: 25px;
      }
    }

    .toggle {
      background: #ff5a07;
      border-radius: 50px;
      height: 18px;
      left: 0;
      position: absolute;
      transition: 0.2s;
      width: 20px;
    }
    
    .toggled {
      left: 18px;
    }
}