.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 3%;

    .hero-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin-bottom: 3%;
    
        .header {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    
        .big {
            padding-bottom: 8%;
            padding-top: 5%;
            color: white;
            text-shadow: 4px 4px #ff5a07;
            font-size: 10rem;
            font-weight: 900;

            @media (max-width: 500px) {
                font-size: 5rem;
            }
        }
    
        .small {
            font-size: 3rem;
            color: white;
            width: 100%;
            font-weight: 500;
            padding-left: 5%;
            padding-right: 5%;
            text-shadow: 1px 1px black;
        
            @media (max-width: 500px) {
                font-size: 1.5rem;
            }

            a {
                color: #ff5a07;
                text-shadow: 1px 1px black;
                font-weight: 900;

                @media (max-width: 500px) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .fonts {
        font-size: 1.75rem;
        padding-bottom: 2%;
        padding-left: 8%;
        padding-right: 8%;
        color: #111111;

        display: flex;
        flex-direction: row;
    }
}