.home-container {
    text-align: center;
    padding-top: 3%;
    width: 100%;
    height: 100%;

    .svg {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: -1;
    }
    
    .line {
      opacity: 0;
      animation: HomeLineFadeIn 8s 1.5s forwards ease-in;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin-bottom: 3%;
    
        .header {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    
        .big {
            padding-bottom: 8%;
            padding-top: 5%;
            color: white;
            text-shadow: 4px 4px #ff5a07;
            font-size: 10rem;
            font-weight: 900;

            @media (max-width: 500px) {
                font-size: 5rem;
            }
        }
    
        .small {
            font-size: 3rem;
            color: white;
            width: 100%;
            font-weight: 500;
            padding-left: 5%;
            padding-right: 5%;
            text-shadow: 1px 1px black;
        
            @media (max-width: 500px) {
                font-size: 1.5rem;
            }

            a {
                color: #ff5a07;
                text-shadow: 1px 1px black;
                font-weight: 900;

                @media (max-width: 500px) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .fonts {
        font-size: 1.75rem;
        padding-bottom: 2%;
        padding-left: 8%;
        padding-right: 8%;
        color: #111111;

        display: flex;
        flex-direction: row;
    }
}

@keyframes HomeLineFadeIn {
  0% { opacity: 0; d: path("M 0 0 Q 0 0 0 0 Q 0 0 0 0 C 0 0 0 0 0 0 Q 0 0 0 0 "); stroke: #fff; }
  25% { opacity: 0; d: path("M -10 0 C 30 60 60 60 120 30 C 180 0 210 0 270 60 C 330 120 360 120 420 60 C 480 0 540 0 630 30 C 720 60 780 60 870 0 "); stroke: #fff; }
  50% { opacity: 1; d: path("M -20 0 C 30 90 60 90 120 60 C 180 30 210 30 270 90 C 330 150 360 150 420 90 C 480 30 510 0 630 60 C 750 120 780 90 870 0 "); stroke: #ff5a07; }
  75% { opacity: 1; d: path("M -30 0 C 30 120 60 0 120 90 C 180 180 210 30 270 90 C 330 150 390 180 450 90 C 510 0 600 30 630 60 C 690 120 810 180 870 0 "); stroke: #ff5a07; }
  100% { opacity: 1; d: path("M -40 0 C 30 120 60 60 120 120 C 180 180 210 30 270 120 C 330 210 390 210 420 120 C 450 30 540 30 630 90 C 720 150 810 210 870 0 "); stroke: #ff5a07; }
}