.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0%;

    .hero-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin-bottom: 3%;
    
        .header {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    
        .big {
            padding-left: 8%;
            padding-right: 8%;
            padding-bottom: 8%;
        }
    
        .small {
            font-size: 1.25rem;
            width: 100%;
            font-weight: 500;
            padding-left: 8%;
            padding-right: 8%;
        
            @media (max-width: 500px) {
                font-size: 1rem;
            }
        }
    }

    .fonts {
        font-size: 1.75rem;
        padding-bottom: 2%;
        padding-left: 8%;
        padding-right: 8%;
    }
}