@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

@import './About.scss';
@import './Contact.scss';
@import './Home.scss';
@import './Header.scss';
@import './Footer.scss';
@import './JobCard.scss';
@import './Slider.scss';
@import './Blog.scss';
@import './Thanks.scss';

$font: 'Josefin Sans', sans-serif;

body {
    font-family: $font;
    font-size: 16px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      300deg,
      #111,
      #222,
      #333,
      #444,
    ) repeat;
}

.dark-mode {
    background: linear-gradient(
      300deg,
      #eee,
      #ddd,
      #ccc,
      #bbb,
    ) repeat; 
    color: #222;
  }