.slider-container {
  display: inline-block;
  width: 50%;
  font-size: 4rem;
  padding-top: 5%;
  padding-bottom: 5%;

    @media(max-width: 800px) {
        font-size: 2.5rem;
        width: 70%;
    }

    .icon {
        color: white;
    }

}